<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="customerService" class="com.qigang.service.CustomerService">
        <property name="name" value="nameeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee" />
        <property name="url" value="urlllllllllllllllllllllllllllllllllllll" />
    </bean>

    <bean id="customerMethodInterceptor" class="com.qigang.interceptor.CustomerMethodInterceptor"></bean>
    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>customerMethodInterceptor</value>
            </list>
        </property>
    </bean>

</beans>