<spring.beans xmlns="http://www.springframework.org/schema/spring.beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/spring.beans
	        http://www.springframework.org/schema/spring.beans/spring-spring.beans-2.5.xsd
	        http://www.springframework.org/schema/aop
	        http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!--测试AspectJ-->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.qigang"/>

    <bean id="customerService" class="com.qigang.springaop.CustomerService">
        <property name="name" value="nameeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"/>
        <property name="url" value="urlllllllllllllllllllllllllllllllllllll"/>
    </bean>

    <bean id="customerMethodInterceptor" class="com.qigang.springaop.CustomerMethodInterceptor"></bean>
    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>customerMethodInterceptor</value>
            </list>
        </property>
    </bean>

</spring.beans>